<a href="https://colab.research.google.com/github/IsadoraPrevitalle/TAR/blob/Introdu%C3%A7%C3%A3o/Analise_Dados_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Verificando os campos de maiores reportagens de roubos de identidades por idade, números de relatórios e tipo de roubos, para comparar com nossa base de publico usuarios de nosso serviço por faixa etária

In [ ]:
pd.read_csv('Relatórios de roubo de identidade por idade.csv', usecols = ['Identity Theft Reports by Age','Unnamed: 1'
,'IDT Theft Type by Age','Unnamed: 5','Unnamed: 6'])
#Identity Theft Reports by Age - Relatórios de roubo de identidade por idade
#Age Range - faixa etária
#Of Reports - Quantidade de relatórios
#Theft Type	- Tipo de roubo

,Identity Theft Reports by Age,Unnamed: 1,IDT Theft Type by Age,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN
1,Age Range,# of Reports,Age Range,Theft Type,# of Reports
2,19 and Under,"13,852",19 and Under,Bank Fraud,"1,299"
3,20 - 29,"61,114",19 and Under,Credit Card Fraud,"1,497"
4,30 - 39,"80,467",19 and Under,Employment or Tax-Related Fraud,"7,882"
...,...,...,...,...,...
56,NaN,NaN,80+,Other Identity Theft,838
57,NaN,NaN,80+,Phone or Utilities Fraud,522
58,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN
60,Source: Consumer Sentinel Network Data Book 20...,NaN,NaN,NaN,NaN

Verificando os 31 primeiros registros de roubo de identidade por tipo em 5 estados diferentes para tirar uma media por localidade

In [ ]:
pd.read_csv('Categorias de fraude por valor perdido.csv')
#Aqui temos o grafico completo com varios setores de categorias sobre fraudes, par nós as linhas 5,6 e 9 são as mais interessantes por trabalhar com dados de investimentos, oprtunidades de emprego e serviços pela internet

,Fraud Categories by Total Amount Lost,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category,Total $ Loss,Median $ Loss,# of Reports,% Reportin $ Loss,Top Contact Method per Category,Top Payment Method per Category
2,Imposter Scams,"$328,423,263",$500,"347,829",19%,Phone Call,Wire Transfer
3,"Prizes, Sweepstakes and Lotteries","$95,052,359",$511,"142,870",9%,Phone Call,Wire Transfer
4,Shop-at-Home and Catalog Sales,"$94,117,967",$261,"126,387",58%,Email,Wire Transfer
5,Investment Related,"$47,697,104",$400,"15,079",46%,Consumer Initiated Contact,Wire Transfer
6,Business and Job Opportunities,"$46,914,979","$1,063","18,702",34%,Email,Wire Transfer
7,"Travel, Vacations and Timeshare Plans","$38,454,908","$1,710","22,264",18%,Phone Call,Credit Card
8,Foreign Money Offers and Counterfeit Check Scams,"$34,343,296","$1,008","31,980",33%,Mail,Wire Transfer
9,Internet Services,"$19,397,434",$183,"45,093",14%,Consumer Initiated Contact,Credit Card
10,Mortgage Foreclosure Relief and Debt Management,"$17,179,967","$1,200","8,973",31%,Phone Call,Bank Account Debit
11,Telephone and Mobile Services,"$16,920,319",$223,"149,578",4%,Text Message,Credit Card
12,Advance Payments for Credit Services,"$14,904,565",$318,"17,762",74%,Phone Call,Wire Transfer
13,Grants,"$6,256,020",$495,"5,786",33%,Phone Call,Wire Transfer
14,Internet Auction,"$3,575,719",$400,"2,267",35%,Web Site,Credit Card
15,Charitable Solicitations,"$2,536,033",$250,"3,703",27%,Phone Call,Wire Transfer
16,Health Care,"$1,410,104",$175,"10,321",8%,Consumer Initiated Contact,Credit Card
17,Office Supplies and Services,"$621,483",$525,"7,083",4%,Mail,Credit Card
18,Tax Preparers,"$484,437",$500,"3,360",5%,Phone Call,Other
19,Magazines and Books,"$373,093",$89,"5,099",8%,Mail,Credit Card
20,Buyers' Clubs,"$29,609",$200,542,4%,Mail,Credit Card
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Of the 1,138,306 total fraud reports, 21% repo...",NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Source: Consumer Sentinel Network Data Book 20...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
VP = pd.read_csv('Categorias de fraude por valor perdido.csv')
VP.iloc [5]
# Investment Related - Relacionado a investimentos
#total e media de perdas, quantidade de reportagens e quantidade de reportagens em porcentagem, Método de contato principal por categoria e Principal método de pagamento por categoria

Fraud Categories by Total Amount Lost            Investment Related
Unnamed: 1                                              $47,697,104
Unnamed: 2                                                    $400
Unnamed: 3                                                  15,079
Unnamed: 4                                                      46%
Unnamed: 5                               Consumer Initiated Contact
Unnamed: 6                                            Wire Transfer
Name: 5, dtype: object

In [ ]:
VP = pd.read_csv('Categorias de fraude por valor perdido.csv')
VP.iloc [6]
#Business and Job Opportunities = Oportunidades de emprego
#total e media de perdas, quantidade de reportagens e quantidade de reportagens em porcentagem, Método de contato principal por categoria e Principal método de pagamento por categoria

Fraud Categories by Total Amount Lost    Business and Job Opportunities
Unnamed: 1                                                  $46,914,979
Unnamed: 2                                                      $1,063
Unnamed: 3                                                      18,702
Unnamed: 4                                                          34%
Unnamed: 5                                                        Email
Unnamed: 6                                                Wire Transfer
Name: 6, dtype: object

In [ ]:
VP = pd.read_csv('Categorias de fraude por valor perdido.csv')
VP.iloc [9]
#Serviços por internet
#total e media de perdas, quantidade de reportagens e quantidade de reportagens em porcentagem, Método de contato principal por categoria e Principal método de pagamento por categoria

Fraud Categories by Total Amount Lost             Internet Services
Unnamed: 1                                              $19,397,434
Unnamed: 2                                                    $183
Unnamed: 3                                                  45,093
Unnamed: 4                                                      14%
Unnamed: 5                               Consumer Initiated Contact
Unnamed: 6                                              Credit Card
Name: 9, dtype: object

Verificando os três principais reatórios de roubo de identidade por ano, de acordo com o ano e as contagens de reclamações para verificar o crescimento anual

In [ ]:
pd.read_csv('Contagem de relatórios.csv')
#Complaint Count - Contagem de reclamações

   Number of Fraud, Identity Theft and Other Reports by Year\n    Unnamed: 1
0                                                 NaN                    NaN
1                                                Year           # of Reports
2                                                2001                325,519
3                                                2002                551,622
4                                                2003                713,657
5                                                2004                860,383
6                                                2005                909,314
7                                                2006                906,129
8                                                2007              1,070,447
9                                                2008              1,261,124
10                                               2009              1,428,977
11                                               2010              1,470,306
12                                               2011              1,898,543
13                                               2012              2,115,079
14                                               2013              2,134,565
15                                               2014              2,591,145
16                                               2015              3,035,625
17                                               2016              2,984,043
18                                               2017              2,675,611
19                                                NaN                    NaN
20  The reported figures exclude National Do Not C...                    NaN
21                                                NaN                    NaN
22  Source: Consumer Sentinel Network Data Book 20...                    NaN